.container {
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_input {
  position: relative;
  width: 95%;
  padding: 0.6rem 2.3rem;
  border-radius: 48px;
  border: 2px solid #c8c8c8;
  outline: none;
  font-size: 1.1rem;
}
.search_icon {
  position: absolute;
  left: 3rem;
}
