.container {
  width: 100vw;
  padding: 0.2rem 1rem;
}
.back_btn {
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 0.8rem 1.4rem;
  background: #2e0052;
  cursor: pointer;
  margin: 0.3rem 0;
}
.about_product {
  font-size: 16px;
  font-weight: 800;
  margin: 0.8rem 0.4rem;
}
.product_container {
  height: 72vh;
}
.product_details {
  display: flex;
  width: 100%;
  height: 86%;
}
.product_img {
  width: 40%;
  border: 4px solid #2e0052;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.product_img img {
  width: 80%;
  height: 95%;
  object-fit: cover;
}
.product_desc {
  padding: 0.3rem 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 10px;
}
.productTitle {
  font-size: 29px;
  font-weight: bolder;
}
.productPrice {
  font-weight: bolder;
  font-size: 18px;
}
.product_info {
  font-size: 13px;
}
.product_info_list {
  font-size: 13px;
  line-height: 20px;
  padding: 0 1rem;
}
.product_available {
  display: flex;
  align-items: center;
}

.product_footer {
  height: 23vh;
  width: 97vw;
  display: flex;
  align-items: center;
}
.product_other_images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 90%;
  gap: 1rem;
}
.other_images_container {
  border: 3px solid #2e0052;
  width: 30%;
  height: 90%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.other_images_container img {
  width: 80%;
  height: 80%;
}

.product_btns {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.3rem;
}
.cart_btn,
.buy_btn {
  width: 60%;
  padding: 0.5rem;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
}
.cart_btn {
  background: #ffd600;
}
.buy_btn {
  background: #ffb800;
}
